<html>

<head>
    <title>Book Records</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://bootswatch.com/4/litera/bootstrap.min.css">
    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        td,
        th {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div style="padding: 20px;">
        <form action="/books/book" method="POST">
            <h1>Book Search</h1>
            <input type="text" name="bookName" class="mb-2" placeholder="Please Enter the book name">
            <button class="btn btn-primary mb-2" type="submit">Submit</button>
        </form>
    </div>

    <div style="padding: 20px;">
        <table class="table">
            <thead>
                <tr>
                    <th>Book Name</th>
                    <th>Author Name</th>
                    <th>Publish Date</th>
                    <th>Book Price</th>
                    <th>Total Pages</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody id="tbody">
                <% if(result&&result.length) {%>
                    <% result.forEach(function(data) { %>
                        <tr>
                            <td>
                                <%= data.bookName %>
                            </td>
                            <td>
                                <%= data.authorName %>
                            </td>
                            <td>
                                <%= data.publishDate %>
                            </td>
                            <td>
                                <%= data.bookPrice%>
                            </td>
                            <td>
                                <%= data.totalPage %>
                            </td>
                            <td><a href="/books/edit/<%= data.bookId%>"><button
                                        class="btn btn-primary">Edit</button></a> <a
                                    href="/books/remove/<%= data.bookId %>"><button
                                        class="btn btn-primary">Delete</button></a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } %>

            </tbody>
        </table>
    </div>
</body>

</html>